# Django Settings
DEBUG=True
DJANGO_SECRET_KEY=django-insecure-8q3n1v7x9m2p5z4w6k0j8r4b2t1y7u9i6o0p3l5k7j8h9g4f2d
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8001

# Combined Database URL (Scheme://User:Password@Host:Port/DatabaseName)
DATABASE_URL=postgres://dbuser:dbpassword@localhost:5432/dockerdjango

# Postgres Settings
POSTGRES_DB=dockerdjango
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword

# Industry standard for optimizing dockers terminal logs for development, making docker logs instant and not delayed for performance
PYTHONUNBUFFERED=1